Repository meddsai/mjs: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, rustfmt, frontend-type-check, frontend-lint, frontend-test, python-tests, rust-build

prettier:
  name: Prettier
  entry: prettier --write
  language: system

rustfmt:
  name: Rust Format
  entry: bash -c 'cd backend && cargo fmt -- --check'
  language: system
  pass_filenames: false

frontend-type-check:
  name: Frontend Type Check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false
  stages:
  - commit

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - commit

frontend-test:
  name: Frontend Test
  entry: bash -c 'cd frontend && npm run test'
  language: system
  pass_filenames: false
  stages:
  - push

python-tests:
  name: Python Tests
  entry: bash -c 'cd ai-service && poetry install && poetry run pytest --cov'
  language: system
  pass_filenames: false
  stages:
  - push

rust-build:
  name: Rust Build
  entry: bash -c 'cd backend && cargo build'
  language: system
  pass_filenames: false
  stages:
  - push

refactor: migrate from axum to actix-web and implement auth flow
  backend/Cargo.toml
  backend/src/main.rs
  backend/src/middleware/auth.rs
  backend/src/routes/auth.rs
  backend/src/routes/health.rs
  backend/src/routes/mod.rs
  backend/src/services/auth.rs
  frontend/src/core/components/auth/RegisterForm.tsx
  frontend/src/core/contexts/AuthContext.tsx
  frontend/src/core/hooks/useArticles.ts
  frontend/src/core/providers/config-provider.tsx
  frontend/src/core/services/article.ts
  frontend/src/core/services/auth.ts
  frontend/src/types/article.ts
  frontend/src/types/user.ts
Due: prettier, rustfmt, frontend-type-check, frontend-lint, frontend-test, rust-build

style: format frontend files with prettier
  frontend/src/core/components/auth/RegisterForm.tsx
  frontend/src/core/contexts/AuthContext.tsx
  frontend/src/core/hooks/useArticles.ts
  frontend/src/core/providers/config-provider.tsx
  frontend/src/core/services/article.ts
  frontend/src/types/article.ts
  frontend/src/types/user.ts
Due: prettier, frontend-type-check, frontend-lint, frontend-test

docs: update more comprehensive documentations
  README.md
  docs/API.md
  docs/ARCHITECTURE.md
  docs/CONFIGURATION.md
  docs/CONTRIBUTING.md
  docs/DEVELOPMENT.md
  docs/INTERNATIONALIZATION.md
  docs/PLUGINS.md
  docs/ROADMAP.md
  docs/SECURITY.md
  docs/TROUBLESHOOTING.md
  docs/UPGRADE.md
Due: none

feat: add task-manager-ai config
  .cursor/settings.json
  package-lock.json
  package.json
Due: none

Add PRD and task files for Modern Journal System
  scripts/prd.txt
  tasks/task_001.txt
  tasks/task_002.txt
  tasks/task_003.txt
  tasks/task_004.txt
  tasks/task_005.txt
  tasks/task_006.txt
  tasks/task_007.txt
  tasks/task_008.txt
  tasks/task_009.txt
  tasks/task_010.txt
  tasks/tasks.json
Due: none

Path conditions:
  prettier: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.json$
  rustfmt: any of: \.rs$
  frontend-type-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx)$
  frontend-test: any of: ^frontend/.*\.(ts|tsx)$
  python-tests: any of: \.py$
  rust-build: any of: \.rs$
